@font-face {
    font-family: "Quicksand";
    src: url("Quicksand-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "Opensans";
    src: url("OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}
@font-face {
    font-family: "Smileysans";
    src: url("SmileySans-Oblique.ttf") format("truetype");
}